.container {
  height: 100%;
  width: 100%;
  border: 1px solid black;
  background: white;
  flex-direction: column;
}

.image {
  min-height: 100vh;
  min-width: 100vh;
  object-fit: cover;
}

.title {
  font-size: xx-large;
  font-weight: 600;
  margin-left: 100px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.types {
  font-size: xx-large;
  font-weight: 500;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 20px;
}
