.container {
  height: 100%;
  width: 100%;
  border: 1px solid black;
  background: yellow;
  flex-direction: column;
}

.image {
  min-height: 100vh;
  min-width: 100vh;
  object-fit: cover;
}

.title {
  font-size: xx-large;
}
