.container {
  height: 100%;
  width: 100%;
  background: white;
  flex-direction: column;
}

.image {
  min-height: 100vh;
  min-width: 100vh;
  object-fit: cover;
}

.title {
  font-size: xx-large;
  font-weight: 600;
  margin-left: 100px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.types {
  font-size: xx-large;
  font-weight: 500;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 20px;
}

.slogan {
  font-size: 100px;
  width: 60%;
  position: absolute;
  color: white;
  top: 180px;
  left: 400px;
  opacity: 0.8;
}

.filtre {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.6;
}

.test {
  width: 100vw;
  height: 100vh;
}
