.footer {
  background-color: black;
  width: 100vw;
  height: 20vh;
  color: white;
  align-items: center;
  justify-content: space-between;
}

.info {
  flex-direction: column;
  padding-top: 3vh;
  padding-bottom: 3vh;
  margin-left: 2vw;
}

.place {
  flex-direction: row;
  align-items: center;
  margin-bottom: 1vh;
}

.news {
  flex-direction: row;
  width: 50vw;
  height: 50%;
  margin-right: 10vw;
}

.inscription {
  width: 50%;
  border-radius: 10px 1px 1px 10px;
}

.attente {
  background-color: #ea6351;
  color: white;
  width: 50%;
  border-radius: 5px;
}

.logoBottom {
  cursor: pointer;
}

.address {
  margin-top: 1vh;
}
