.form {
  height: auto;
  width: 35vw;
  position: absolute;
  flex-direction: column;
  color: lightgray;
  background-color: white;
  left: 35vw;
  top: 5vh;
  z-index: 2;
}

.top {
  background-color: #5157ea;
  color: white;
  padding: 20px;
  font-family: Libre Franklin;
  padding-left: 4vw;
}

.close {
  width: auto;
  margin-right: 4px;
  border: none;
  color: white;
  background: none;
  cursor: pointer;
}

.send {
  margin-bottom: 2vh;
  width: 70%;
  margin-top: 4vh;
  align-self: center;
  border-radius: 50px;
  padding: 15px;
  font-family: Libre Franklin;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
}

.disabled {
  opacity: 0.8;
  color: rgba(0, 0, 0, 0.25);
}

.enable {
  background-color: #5157ea;
  color: white;
}

.sent {
  background: #57e8ab;
  color: white;
}

.details {
  flex-direction: column;
  color: grey;
  justify-content: space-between;
  flex: 1;
  padding: 25px 33px 20px 39px;
}

.details div {
  flex-direction: column;
}

.formWrapper {
  position: absolute;
  z-index: 3;
  height: 100vh;
  width: 100vw;
}

.fond {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: black;
  opacity: 0.6;
}

.label {
  font-family: Libre Franklin;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 20px;

  color: rgba(0, 0, 0, 0.5);
}

.input {
  margin-bottom: 20px;
}

.check {
  margin-left: 1vw;
}
