.gameLeft {
  flex-direction: column;
  align-items: flex-start;
  padding-top: 20px;
}

.gameRight {
  flex-direction: column;
  align-items: flex-end;
  margin-left: 10vw;
}

.paintings {
  width: 720px;
  height: 460px;
  object-fit: cover;
}

.paintor {
  margin-top: 1vh;
}
