.header {
  background-color: black;
  width: 100vw;
  align-items: center;
  color: white;
  justify-content: space-between;
  padding: 15px 0px;
  z-index: 1;
}

.logo {
  width: 35px;
  height: 35px;
  top: 34;
  left: 51px;
  margin-left: 2vw;
}

.name {
  margin-left: 10px;
}

.button {
  background-color: transparent;
  color: white;
  font-weight: 700;
  border-radius: 40px;
  border-style: solid;
  border-width: thin;
  border-color: white;
  padding: 1vh 1.7vw 1vh 1.7vw;
  cursor: pointer;
}

.identity {
  align-items: center;
}

.onglet {
  justify-content: space-around;
  width: 50vw;
  align-items: center;
}

.tab {
  font-size: large;
  font-weight: 700;
  cursor: pointer;
}

.child {
  flex: 1;
}
