.header {
  background-color: transparent;
  height: 30px;
  width: 100vw;
  position: fixed;
  align-items: center;
  color: white;
}

.logo {
  width: 35px;
  height: 35px;
  top: 34;
  left: 51px;
}

.button {
  background-color: transparent;
  color: white;
  border-radius: 40px;
  border-style: solid;
  border-width: thin;
  border-color: white;
}
