.container {
  background: white;
  flex-direction: column;
  position: relative;
  flex: 1;
}

.accueil {
  position: relative;
  height: 100vh;
}

.background {
  position: absolute;
}

.image {
  min-height: 100vh;
  min-width: 100vw;
  object-fit: cover;
}

.filtre {
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.6;
  position: absolute;
}

.slogan {
  flex-direction: column;
  color: white;
  z-index: 1;
  justify-content: center;
  flex: 1;
  padding-right: 12vw;
  padding-top: 19vh;
}

.title {
  font-size: 8vh;
  font-family: Libre Franklin;
  font-weight: 700;
  margin-left: 14vw;
  margin-top: 77px;
  margin-bottom: 90px;
}

.types {
  font-size: 8vh;
  font-weight: 700;
  justify-content: center;
  margin-left: 11vw;
  margin-top: 10vh;
  font-family: Libre Franklin;
}

.containerimg {
  width: 100vw;
  height: 100vh;
}

.gamesContainer {
  flex-direction: column;
  box-sizing: border-box;
  border-style: none;
  width: 25%;
}

.vector {
  position: absolute;
  top: 93vh;
  left: 48vw;
  cursor: pointer;
}

.vectorLeft {
  position: absolute;
  top: 49vh;
  left: 3vw;
  cursor: pointer;
}

.vectorRight {
  position: absolute;
  top: 49vh;
  right: 3vw;
  cursor: pointer;
}

.king {
  justify-content: flex-end;
  font-weight: 700;
  font-family: Libre Franklin;
  font-size: 12vh;
  line-height: 13vh;
}

.bloc {
  flex-direction: row;
}

.gamesContainer > .gameLeft {
  border-bottom: 0.1px solid grey;
}
.gamesContainer > .gameLeft:last-child {
  border-bottom: none;
}

.attente {
  cursor: pointer;
}

.bloc {
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.sectionContainer {
  justify-content: space-around;
}

.sectionsBloc {
  flex-direction: column;
  height: 92vh;
  background: rgba(196, 196, 196, 0.1);
}

.menuAndGames {
  justify-content: center;
  margin-top: 10vh;
  margin-bottom: 20vh;
}

.gameTypes {
  flex-direction: column;
}
