.container {
  background: white;
  flex-direction: column;
  position: relative;
  flex: 1;
}

.image {
  min-height: 100vh;
  min-width: 100vw;
  object-fit: cover;
}

.title {
  font-size: 9vh;
  font-weight: 600;
  margin-left: 18vw;
  margin-top: 40px;
  margin-bottom: 40px;
}

.types {
  font-size: 9vh;
  font-weight: 500;
  justify-content: center;
  margin-left: 12vw;
  margin-top: 20vh;
}

.slogan {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  flex-direction: column;
  font-size: 16vh;
  width: 69%;
  height: 40%;
  position: absolute;
  color: white;
  top: 30vh;
  left: 20vw;
}

.filtre {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.6;
}

.containerimg {
  width: 100vw;
  height: 100vh;
}

.gamesContainer {
  flex-direction: column;
  box-sizing: border-box;
  border-style: none;
  width: 25%;
  margin-left: 10vw;
  margin-top: 10vh;
  margin-bottom: 20vh;
}

.hook {
  position: absolute;
  top: 81vh;
  left: 27vw;
  width: 50vw;
  height: 8vh;
}

.vector {
  position: absolute;
  top: 93vh;
  left: 48vw;
  cursor: pointer;
}

.vectorLeft {
  position: absolute;
  top: 49vh;
  left: 3vw;
  cursor: pointer;
}

.vectorRight {
  position: absolute;
  top: 49vh;
  right: 3vw;
  cursor: pointer;
}

.king {
  justify-content: flex-end;
  font-size: 90%;
  font-weight: 600;
}

.bloc {
  flex-direction: row;
}

.gamesContainer > .gameLeft {
  border-bottom: 0.1px solid grey;
}
.gamesContainer > .gameLeft:last-child {
  border-bottom: none;
}

.attente {
  cursor: pointer;
}

.bloc {
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.sectionContainer {
  justify-content: space-around;
}

.sectionsBloc {
  flex-direction: column;
}

.gameTypes {
  flex-direction: column;
  height: 100vh;
}
