.news {
  flex-direction: row;
  width: 768px;
  height: 65px;
  background-color: white;
  border-radius: 5px;
  margin-left: 18vw;
}

.news > input {
  margin: auto;
}
.news > input,
.news > button {
  border: 0px solid black;
}
