.news {
  width: 40vw;
  height: 6vh;
  background-color: white;
  border-radius: 5px;
  margin-left: 28vw;
}

.news > input {
  margin: auto;
}
.news > input,
.news > button {
  border: 0px solid black;
}
