.wrapper {
  height: 100%;
  width: 100%;
  background-color: #fafafa;
  flex-direction: column;
  justify-content: space-between;
  overflow: scroll;
}

/* .no-overflow {
  overflow: hidden;
} */

.wrapperContainer {
  overflow: hidden;
}

body {
  margin: 0;
}
